<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id = "userDao" class = "com.goodyin.springframework.test.bean.UserDao"/>

    <bean id = "UserService" class="com.goodyin.springframework.test.bean.UserService">
        <property name = "id" value = "0001"/>
        <property name = "name" value = "李四"/>
        <property name = "location" value = "深圳"/>
        <property name = "userDao" ref = "userDao"/>
    </bean>

</beans>